.side-bar {
    width: 7%;
    height: 1080px;
    max-height: 1080px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.side-bar-title {
    margin: 0px;
    margin-top: 50px;
    font-size: 50px;
    font-family: boldTitles;
}
.navigation-icons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
}
.navigation-icon-none-selected {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navigation-icon-selected {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    background-color: #F7F7FA;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1385px) {
    .navigation-icon-selected {
        padding: 10px;
    }
    .navigation-icon-none-selected {
        padding: 10px;
    }
}
@media only screen and (max-width: 1200px) {
    .side-bar {
        width: 100%;
        height: 125px;
        justify-content: flex-start;
    }
    .navigation-icons-container {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        width: 50%;
        justify-content: space-evenly;
    }
    .navigation-icon-selected {
        margin: 0px;
    }
    .navigation-icon-none-selected {
        margin: 0px;
    }
    .side-bar-title {
        margin-top: 0px;
    }
}
